<div class="ui container head grid">
  <div class="row">
    <div class="eight wide computer only column">
      <img src="assets/images/logo.png" id="logo">

      <h1 class="ui header">
        Teleport <a class="ui basic label">Beta</a>
      </h1>
    </div>

    <div class="sixteen wide mobile only column center aligned">
      <h1 class="ui header">
        Teleport <a class="ui basic label">Beta</a>
      </h1>
    </div>

    <div class="eight wide computer only column right aligned">
      <div class="ui horizontal list">
        <a *ngIf="auth.isLoggedin()" class="item">
          <a href (click)="logout()">Выход</a>
        </a>

        <a *ngIf="!auth.isLoggedin()" class="item">
          <a [routerLink]="['/login']">Вход</a>
        </a>

        <a class="item">
          <a href="https://adtech.beer/" target="_blank">Контакты</a>
        </a>
      </div>
    </div>

    <div class="sixteen wide mobile only column center aligned">
      <div class="ui horizontal list">
        <a *ngIf="auth.isLoggedin()" class="item">
          <a href (click)="logout()">Выход</a>
        </a>

        <a *ngIf="!auth.isLoggedin()" class="item">
          <a [routerLink]="['/login']">Вход</a>
        </a>

        <a class="item">
          <a href="https://adtech.beer/" target="_blank">AdTech</a>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="ui main container">

  <div *ngIf="auth.isLoggedin()">
    <div class="ui tabular menu">
      <a class="item"
         [class.active]="activeLinkIndex === 1"
         [routerLink]="['/integrations']">
        Итеграции
      </a>
<!--      <a class="item"-->
<!--         [class.active]="activeLinkIndex === 2"-->
<!--         [routerLink]="['/users']">-->
<!--        Пользователи-->
<!--      </a>-->
    </div>
  </div>

  <router-outlet></router-outlet>

</div>
