[Unit]
Description=teleport

[Service]
ExecStart=/opt/teleport/bin/teleport server
WorkingDirectory=/opt/teleport/
User=root
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
