<div *ngIf="!loading">

  <div class="ui negative message" role="alert" *ngIf="message">
  {{message}}
  </div>

  <div *ngFor="let model of models; index as i" class="feed">

    <form class="ui form" [class.loading]="loading">

      <div class="field">
        <label>Заголовок</label>
        <input type="text" name="integration[title]" placeholder="Название сообщества" [(ngModel)]="model.title">
      </div>

      <div class="field">
        <div class="three fields">
          <div class="field">
            <label>Токен</label>
            <input type="text" name="integration[token]" placeholder="xxx" [(ngModel)]="model.token">
          </div>

          <div class="field">
            <label>Канал</label>
            <input type="text" name="integration[channel]" placeholder="xxx" [(ngModel)]="model.channel">
          </div>

          <div class="field">
            <label>Секрет</label>
            <input type="text" name="integration[secret]" placeholder="xxx" [(ngModel)]="model.secret">
          </div>
        </div>
      </div>

      <div class="field">
        <div class="three fields">
          <div class="field">
              <label>Прокси адрес</label>
            <input type="text" name="integration[proxyAddress]" placeholder="xxx" [(ngModel)]="model.proxyAddress">
          </div>

          <div class="field">
            <label>Пользователь</label>
            <input type="text" name="integration[proxyUser]" placeholder="xxx" [(ngModel)]="model.proxyUser">
          </div>

          <div class="field">
            <label>Пароль</label>
            <input type="text" name="integration[proxyPass]" placeholder="xxx" [(ngModel)]="model.proxyPass">
          </div>
        </div>
      </div>

      <div class="field" *ngIf="model.id">
        <label>Колбэк</label>
        <input type="text" name="integration[title]" placeholder="http://" disabled value="http://{{domain}}/callback/{{model.id}}">
      </div>

      <div class="ui">
        <div class="ui button" (click)="save(model)" tabindex="0">Сохранить</div>
        <div class="ui button" (click)="remove(i)" tabindex="0">Удалить</div>
      </div>
    </form>
  </div>
</div>

<div class="ui button" (click)="add()" tabindex="0">Добавить</div>

<div class="ui active centered inline loader" *ngIf="loading"></div>
